.body {
  font-family: Arial;
}

.header {
  display: flex;
  margin: 20px auto;
  padding: 18px;
  border-width: 7px;
}

.name {
  height: 180px;
  width: 48%;
  text-align: center;
}


.content {
  display: flex;
  padding: 18px;
  margin: 20px auto;
  border-width: 7px;
}



/* .text {
  float: right;
  padding: 1em;
} */
.city img{
  float: left;
  padding-right: 15px;
}
.p {
  display: block;
}

.div table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}
.my_history{
  display: flex;
  border-width: 7px;
}
.history {
  display: flex;
  padding: 20px;
  border-width: 7px;
}

.clearfix {
  overflow: auto;
  clear: left;
  display: table;
}
.history-row {
  display: flex;
}

.history-sec {
  width: 32%;
}

.history-sec img{
  float: left;
  padding-right: 20px;
  padding-left: 10px;
}

@media screen and (max-width:800px) {
  .header {
    display: grid;
  }
}
@media screen and (max-width:414px) {
  .content {
    display: grid;
  }
}
@media screen and (max-width:414px) {
  .history-row {
    display: grid;
    
  }
}
@media screen and (max-width:414px) {
  .history-sec {
    width: 100%;
  }
}
@media screen and (max-width:414px) {
  .history-sec img{
    float: none;
    width: 100%;
    height: 70%;
  }
}

@media screen and (max-width:414px) {
  .name {
    width: 100%;
  }
}