.body {
  font-family: Arial;
}

.header {
  display: flex;
  margin: 20px auto;
  padding: 18px;
  border-width: 7px;
}

.name {
  height: 180px;
  width: 48%;
  text-align: center;
}

/* .pic {
  width: 180px;
  height: 220px;
  height: auto;
} */

.content {
  display: flex;
  padding: 18px;
  margin: 20px auto;
  border-width: 7px;
}

/* .city {
  width: 180px;
  height: 220px;
} */

.text {
  float: right;
  padding: 1em;
}

.p {
  display: block;
}

.div table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}
.my_history{
  display: flex;
  border-width: 7px;
}
.history {
  display: flex;
  padding: 20px;
  border-width: 7px;
}

/* .one {
  width: 180px;
  height: 240px;
} */

.text2 {
  float: right;
  padding: 1em;
}

.two {
  width: 180px;
  height: 240px;
}

.text3 {
  float: right;
  padding: 1em;
}

/* .three {
  width: 180px;
  height: 240px;
} */

.text4 {
  float: right;
  padding: 1em;
}


.clearfix {
  overflow: auto;
  zoom: 1;
}

@media screen and (max-width:800px) {
  .header {
    display: grid;
  }
}
@media screen and (max-width:414px) {
  .content {
    display: grid;
  }
}
@media screen and (max-width:414px) {
  .history {
    display: grid;
    
  }
}

